body{
    background-color: #ddd;
    padding: 0px;
    margin: 0px;
}
.main-image{
    background-image: url("img/n1.jpg");
    background-repeat: no-repeat;
}
.heading-main{
    padding: 20px 10%;
    background: url("img/l51.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}
.brand-logo ,.brand-logo img, .brand-name ,.brand-name h1{
    display: inline;
}
.brand-name {
    margin-top: 0px;
    font-size: 2.5em;
    font-weight: 1000;
    vertical-align: bottom; 
    padding: 5px;
    font-weight: bold;
    color: rgb(31, 82, 121);
}
.brand-logo{
    margin-top: 0px;
    width: 45px;
    height: auto;
}
.navs ul{
    margin-top: 20px;
}
.navs li, .navs{
    display: inline;
}
.navs{
    float: right;
    vertical-align: middle;
}
.navs li{
    margin: 20px 10px;
}
.navs button{
    padding: 10px;
    margin-left: 10px;
    background: rgb(31, 82, 121);;
    color: white;
    border:0px;
    font-weight: bold;
}
.navs li a{
    font-size: 1.1em;
}
.navs a {
    color: rgb(31, 82, 121);;
    text-decoration: none;
    font-weight: bold;
}
.slider{
    padding: 0px;
    margin: 0px;
}
.slider img{
    width: 100%;
    height: auto;
}
.main-form{
    background:rgb(31, 82, 121);
    height: 650px;
    padding: 10px 10%;
    box-shadow: 40px 0px 40px 5px rgb(31, 82, 121);
}
.main-form p{
    padding: 20px 10% 0px 10%;
    font-weight: bolder;
    color: white;
    text-align: center
}
.main-form h2{
    text-align: center;
    font-weight: 1000;
    color: white;
}
input, label{
    display: block;
}
label{
    color: #fff;
}
input, select, option,textarea{
    height: 10%;
    width: 100%;
    padding: 5px;
}
.service-choice, .client-details, .other-details{
    padding: 50px;
    background: rgb(31, 82, 121);
}
.help-now{
    text-align: center;
}
.help-now button{
    padding: 10px 30px; 
    border: 0px;
    background: white;
    color: rgb(31, 82, 121);
    font-size: 1.5em;
    font-weight: bold;
}
.whyus{
    background: url("img/l21.png") no-repeat;
    background-size: 100%;
    padding: 50px 10% 40px 10%;
}
.whyus h1{
    color: rgb(31, 82, 121);
    font-weight: 1000;
}
.whyus-list, .whyus-list ul{
    display: inline;
}
.whyus p{
    color: rgb(31, 82, 121);
    font-weight: bolder;
}
.whyus li{
    color: rgb(31, 82, 121);
    font-weight: bolder;
}
.what-we-offer{
  background: #fff;
  padding: 40px 100px;
}
.offer-single, .what-we-offer h2{
  text-align: center;
}
.what-we-offer h2,h4{
  color: rgb(31, 82, 121);
  font-weight: 800;
}
.closer{
  padding: 20px;
  background: rgb(31, 82, 121);
}
.closer h1{
  color: white;
  text-align: center;
  font-weight: 1000;
}